<section class="hero">
  <div class="hero__bg">
    <div class="hero__ellipse hero__ellipse--1"></div>
    <div class="hero__ellipse hero__ellipse--2"></div>
    <div class="hero__ellipse hero__ellipse--3"></div>
    <img class="hero__photo" src="assets/img/hero.png" alt="Mujer profesional" />
  </div>

  <div class="hero__content fade-in-up">
    <h1 class="hero__title">
      De la universidad a tu<br>primer empleo.<br>
      <em>Cruza el puente.</em>
    </h1>
    <p class="hero__subtitle">
      La red profesional para las graduadas que buscan transformar su futuro con energía y comunidad.
    </p>
    <div class="hero__actions">
      <button class="btn-primary" (click)="scrollTo('contacto')">Postularme ahora</button>
      <button class="btn-secondary" (click)="scrollTo('talleres')">Ver talleres</button>
    </div>
  </div>
</section>
